# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.mongodb.net/SmartFYP

# JWT Configuration
JWT_SECRET=b9ba5fbb3b6259662dde6e22732aa8970c88b80ecf076c38bb8240dd30c19814

# Email Configuration (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:3000

# Gemini AI (Automatically injected by AI Studio if set in Secrets)
GEMINI_API_KEY=
